.search {
    padding: 60px;
    
    
  }

  .search form {
    margin: 0 auto;
    max-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    color: #ffff; 
  }

  .search button {
    margin: 0 auto;
    max-width: 320px; 
    color: #ffffff;
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
    background: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;  
  }

  #search {
    
    color: #ffffff;
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
    background: #000000;
  }