.block-today {
    width: auto;
    height: auto;
    
    /* border-style: solid; 
    border-color: #4d4d4d; */
    display: inline-block;
    /* border-width: 1px; */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(#000000, #4d4d4d);
    margin-left: 120px;
    margin-bottom: 15px;
    margin-top: 5px;
    
}

.today {
    padding-right: 40px;
    /* margin: 25px; */
    margin-top: 40px;
}

.currentTemp {
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #ffffff
}

.date {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #afafaf
}

.hilo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 22px;
     
}

.cc {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 18px;

}

.local {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;

}

.feels {
    font-size: 14px;
    display: inline;
}

.feels-con {
    display: inline;

}

.feels-temp {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 22px;
    display: inline;
    padding-left: 8px;

}

.summary {
    color: #afafaf;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

.container {
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-bottom-color: #4d4d4d7e;   
}

.container-two {
   
    padding-left: 15px;
}