.temp {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #ffffff
}

.time {
    font-family: 'Montserrat', sans-serif;
}



.feels {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.feelslike {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 22px;
    
    
}