.navbar-user {
    display: flex;
    background-color: #000000;
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-bottom-color: #4d4d4d;
    
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-height: 45px; 
}

.navbar-log {
  display: flex;
  background-color: #000000;
  border-bottom-style: solid; 
  border-bottom-width: 1px;
  border-bottom-color: #4d4d4d;
  justify-content: space-around;
  width: 100%;
  max-height: 45px; 
}

.navbar-text {
  font-size: 14px;
  font-family: 'lato', sans-serif;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
    
}

.search {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.button {
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  background: #000000;
  margin: 12px;
  padding: 6px 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.search {
  float: left;
}

.nav-log {
  font-size: 14px;
  font-family: 'lato', sans-serif;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
}

.current {
  font-size: 14px;
  font-family: 'lato', sans-serif;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
}

.search-form {
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  background: #000000;
}

::placeholder {
  color: #4d4d4d;
}
 


 