.App {
  color: #ffffff;
  background-color: #000000
}

.App-header {
  text-align: center;
  font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #4d4d4d;
    margin: 10px;
    padding: 15px;
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-bottom-color: #4d4d4d7e;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*/////////////////Forecast Navbar /////////////////////*/

.fnav-button {
  border: 1px solid #2b2b2b;
  color: #4d4d4d;
  background: #000000;
  margin: 12px;
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}