.App {
  color: #ffffff;
  background-color: #000000
}

.App-header {
  text-align: center;
  font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #4d4d4d;
    
    padding: 20px;
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-bottom-color: #4d4d4d;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*/////////////////Forecast Navbar /////////////////////*/

.fnav-button {
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  background: #000000;
  margin: 12px;
  padding: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}

.fnav {
  width: 100%;
  align-items: left;
  padding: 15px;
  display: flex;
}